<!DOCTYPE html>
<html>
  <head>
    <title>Train Game</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="leaflet.css" />
    <link rel="stylesheet" href="style.css" />

  </head>
  <body>
    <div id="map">
      <div id="ui-container">
        <div id="ui">
          <button onclick="">Train</button>
        </div>
      </div>
    </div>
    <script src="dist/app-dist.js"></script>
  </body>
</html>

