<!DOCTYPE html>
<html>

  <head>
    <title>Train Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="leaflet.css" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="ui">
      <div id="ui-container">
        <a class="map-input" href="twitter/login">Login to Twitter</a>
        <br />
        <input id="map-search" type="text" />
        <button onclick="UI.handleSearch()" >Search Twitter</button>
      </div>
    </div>
    <div id="map">
    </div>
    <script src="dist/app-dist.js"></script>
    <script>
      var UI = {};
      UI.handleSearch = function() {
        var query = document.querySelector('#map-search').value;
        console.log(query);
      }
    </script>
  </body>

</html>

