body, html, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#map {
  width: 70%;
  box-shadow: 0 0 7px #000;
}

#ui {
  width: 30%;
  height: 100%;
  float: left;
  overflow: hidden;
  text-align: center;
}

#ui-container {
  height: 10%;
}

#tweet-container {
  height: 88%;
  overflow-y: auto;
}

#tweet-container h2 {
  padding-left: 5px;
}

#loader {
  width: 100px;
  display: inline-block;
}

.map-input {
  margin-top: 3%;
}

.map-input a {
  text-decoration: none;
}

.tweet {
  box-shadow: 0 0 7px #444;
  width: 85%;
  margin: 12px auto;
  padding: 5px;
  text-align: left;
}

.tweet h4 {
  margin: 0;
  padding: 0 0 3px 0;
}

.tweet p {
  margin: 0;
}

.leaflet-container {
  cursor: auto;
}
